<div class="container" style="height:70px"></div>
<h1>Tags Index</h1>

<div class="container">

  <%= form_tag tags_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a task by Tag"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="row mt-4">
    <% @tasks.each do |task| %>
      <div class="col-12 hov-decoration">
        <%= link_to task_path(id: task.id) do %>
          <div class="notification">
            <%= cl_image_tag task.user.avatar.key, class:"avatar-large"%>
            <div class="notification-content">
              <p><small><%= task.title %></small></p>
              <p class="content"><%= task.content[0..20].. %></p>
              <% task.tags.each do |tag| %>
                <button class="pill-button"><%= tag.name  %></button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>